aiokafka==0.10.0
confluent-kafka==2.3.0
dataclass_wizard==0.22.3
faust_streaming==0.10.22
jira==3.5.1
mock==5.0.2
prometheus_client==0.19.0
pytest==7.4.0
pytest_asyncio==0.21.0
pyyaml==6.0.1
requests==2.31.0
slack==0.0.2
slack_sdk==3.26.2
